/* Kontener główny dla kategorii */
.categories-container {
  font-family: 'Arial', sans-serif;
  margin: 0 auto;
  background-color: #f9fafc;
  text-align: center;
}

/* Nagłówek strony */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 2em;
}

/* Wiadomości błędów */
.error-message {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

/* Lista kategorii */
.categories-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Maksymalnie 3 kolumny */
  justify-content: center; /* Centrowanie siatki */
  align-items: start; /* Wyrównanie do góry */
}

/* Pojedyncza kategoria */
.category-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-align: left; /* Tekst wyrównany do lewej */
  min-height: 250px; /* Stała wysokość dla wszystkich pojemników */
  max-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Tekst zaczyna się od góry */
  margin: 20px;
  overflow: hidden;
}

.category-item:hover {
  transform: scale(1.05);
}

/* Nagłówek kategorii */
.category-item h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
  color: #4caf50;
  font-weight: bold;
  overflow-wrap: break-word; /* Przenoszenie długiego tekstu */
  word-wrap: break-word;
  text-align: center;
}

/* Opis kategorii */
.category-item p {
  margin: 0;
  font-size: 0.9em;
  color: #666;
  text-align: justify;
  overflow-wrap: break-word; /* Zapobiega nachodzeniu na inne elementy */
  word-wrap: break-word;
  margin-top: 10px;
  flex-grow: 1; /* Zapełnia dostępną przestrzeń, aby tekst nie był ściśnięty */
  text-align: center;
}

/* Responsywność */
@media (max-width: 992px) {
  .categories-list {
    grid-template-columns: repeat(2, 1fr); /* Dwie kolumny na średnich ekranach */
  }
}

@media (max-width: 768px) {
  .categories-list {
    grid-template-columns: 1fr; /* Jedna kolumna na małych ekranach */
  }

  .category-item {
    width: 90%;
    margin: 0 auto;
  }
}
