/* Kontener główny dla kategorii */
.categories-container {
  font-family: 'Arial', sans-serif;
  margin: 0 auto;
  color: #333;
  background-color: #f5f7fa; /* Białe tło */
  text-align: center;
}



/* Wiadomości błędów */
.error-message {
  color: #d9534f; /* Czerwony odcień na błędy */
  text-align: center;
  margin-bottom: 20px;
}

/* Lista kategorii */
.categories-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Maksymalnie 3 kolumny */
  gap: 20px;
  justify-content: center; /* Centrowanie siatki */
  align-items: start;
  margin-right: 20px;
}

ul {
  padding: 0px;
  margin: 20px
}

/* Pojedyncza kategoria */
.category-item {
  background: #fff;
  padding: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: left; /* Tekst wyrównany do lewej */
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-item:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Zwiększenie cienia na hover */
  border: 1px solid #ccc;
}


/* Nagłówek kategorii */
.category-item h3 {
  margin: 0 0 10px;
  font-size: 1.4em;
  color: #333; /* Czarny tekst */
  font-weight: bold;
  overflow-wrap: break-word; /* Przenoszenie długiego tekstu */
  word-wrap: break-word;
  text-align: center;
}

/* Opis kategorii */
.category-item p {
  margin: 0;
  font-size: 1em;
  color: #333; /* Czarny tekst */
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-top: 10px;
  line-height: 1.5;
  flex-grow: 1;
}

/* Responsywność */
@media (max-width: 992px) {
  .categories-list {
    grid-template-columns: repeat(2, 1fr); /* Dwie kolumny na średnich ekranach */
  }
}

@media (max-width: 768px) {
  .categories-list {
    grid-template-columns: 1fr; /* Jedna kolumna na małych ekranach */
  }

  .category-item {
    width: 90%;
    margin: 0 auto;
  }
}
