/* General container */
.homepage-container {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f5f7fa;
  min-height: 100vh;
  gap: 20px;
  padding-bottom: 60px; /* Ensure margin-bottom is visible */
}


/* Chart containers layout */
.charts-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
}

.chart {
  flex: 1 1 45%;
  max-width: 45%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart h3 {
  text-align: center;
  font-weight: bold;
}

.chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chart-footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.filter-container button {
  margin-top: 0px;

}

.filter-container.column {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

/* Styl przycisku */
.button {
  margin-top: 10px;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #0056b3;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
  color: #fff;
}

/* Styl przycisków spójny z resztą aplikacji */
.button {
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #0056b3;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
  color: #fff;
}


.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Jeśli błąd autoryzacji */
.error-message {
  color: red;
  font-weight: bold;
}

/* Responsywność - na węższych ekranach wykresy w jednej kolumnie */
@media (max-width: 768px) {
  .chart {
    max-width: 100%;
    flex: 1 1 100%;
  }
}

