.transactions-container {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.transactions-content {
  color: #333;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  margin: 20px;
}

.transaction-form,
.filters {
  color: #333;
  box-sizing: border-box;
  overflow: hidden;
}

.transactions-list {
  color: #333;
  border-radius: 8px;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
}

.transaction-form {
  flex: 1;
  max-width: 20%; /* 1/5 szerokości */
}

.filters {
  flex: 1;
  max-width: 20%; /* 1/5 szerokości */
}

.transactions-list {
  flex: 3;
  max-width: 60%; /* 3/5 szerokości */
  overflow-y: auto;
}

.transaction-form h2,
.filters h2,
.transactions-list h2{
  margin-bottom: 15px;
  font-size: 1.5em;
}

.transaction-form input,
.transaction-form select,
.transaction-form textarea,
.filters input,
.filters select {
  display: block;
  width: calc(100% - 20px);
  margin-bottom: 15px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  color: #333;
}

.transaction-form textarea {
  resize: none;
  height: 80px;
}

.add-transaction-button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #0056b3;
  border-radius: 4px;
  cursor: pointer;
}

.add-transaction-button:hover {
  background-color: #0056b3;
}

.filters select,
.filters input {
  display: block;
  width: calc(100% - 20px);
  margin-bottom: 15px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.transaction-item {
  width: 100%; /* Pełna szerokość kontenera */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtelny cień */
  box-sizing: border-box;
}

.transaction-summary {
  display: flex; /* Elementy w jednej linii */
  justify-content: space-between; /* Elementy maksymalnie w lewo i prawo */
  align-items: center; /* Wyrównanie pionowe */
  width: 100%;
}

.summary-left {
  display: flex;
  gap: 10px; /* Odstęp między Kwotą, Datą i Kategorią */
  align-items: center;
}

.transaction-amount {
  font-weight: bold;
  font-size: 16px;
}

.transaction-amount.expense {
  color: #ff4d4d; /* Czerwony dla wydatków */
}

.transaction-amount.income {
  color: #4caf50; /* Zielony dla przychodów */
}

.transaction-actions {
  display: flex;
  gap: 10px;
  align-items: center; /* Wyrównanie pionowe */
  justify-content: flex-end; /* Maksymalnie w prawo */
}

.transaction-actions img {
  width: 24px; /* Rozmiar ikon operacji */
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.transaction-actions img:hover {
  transform: scale(1.2); /* Powiększenie ikon przy najechaniu */
}

.transaction-details {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
  font-size: 14px;
  background-color: white;
  line-height: 1.6;
}

button, select, input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
}

button:hover {
  background-color: #007bff;
  color: #fff;
}

.transactions-list::-webkit-scrollbar {
  width: 8px;
}

.transactions-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.transaction-left{
  width: 50%; /* 1/2 szerokości */
  display: inline-flex;
  gap: 20px;
}

.transaction-actions{
  width: 50%; /* 1/2 szerokości */
  display: inline-flex;
  gap: 20px;
  justify-content: right;
}