.transactions-container {
  font-family: 'Arial', sans-serif;
  margin: 0 auto;
  background-color: #f9fafc;
}

.transaction-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 30px;
  margin: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.transaction-form input,
.transaction-form select,
.transaction-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: calc(100% - 20px); /* Szerokość z uwzględnieniem paddingu kontenera */
  height: 40px; /* Ustalona wysokość dla wszystkich pól */
  box-sizing: border-box; /* Uwzględnij padding w szerokości */
}

.transaction-form textarea {
  min-height: calc(40px * 2 + 20px); /* Dwa razy wyższe od zwykłych pól + odstępy */
  resize: none;
}

.transaction-form .form-row {
  display: flex;
  gap: 10px;
}

.transaction-form .form-row > * {
  flex: 1; /* Wszystkie elementy w wierszu mają równą szerokość */
}

.add-transaction-button {
  width: 120px; /* Szerokość przycisku */
  height: 40px; /* Wysokość przycisku */
  border-radius: 3px; /* Lekko zaokrąglone rogi */
  background-color: white; /* Białe tło */
  color: black; /* Czarny tekst */
  font-size: 14px; /* Nowoczesny, minimalistyczny rozmiar tekstu */
  font-weight: 500; /* Średnia grubość czcionki dla nowoczesnego wyglądu */
  cursor: pointer; /* Ręka kursora */
  text-align: center; /* Wyśrodkowanie tekstu */
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease; /* Płynne przejścia */
  margin: 20px auto 0; /* Wyśrodkowanie przycisku */
}

.add-transaction-button:hover {
  background-color: #f0f0f0; /* Jasnoszary kolor tła przy najechaniu */
  color: black; /* Utrzymanie czarnego tekstu */
  transform: translateY(-2px); /* Subtelne uniesienie przycisku */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Wyraźniejszy cień po najechaniu */
}

.add-transaction-button:active {
  transform: translateY(0); /* Powrót do normalnej pozycji po kliknięciu */
  background-color: rgba(0, 0, 0, 0.05); /* Delikatne przyciemnienie tła */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Redukcja cienia */
}

.add-transaction-button:focus {
  outline: none; /* Usunięcie domyślnego konturu */
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2); /* Subtelny czarny kontur dla dostępności */
}

.transactions-list {
  margin-top: 20px;
}

.transaction-item {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transaction-item p {
  margin: 5px 0;
  font-size: 14px;
}

.error-message {
  color: red;
  font-weight: bold;
}

.info-message {
  color: #4caf50;
  font-weight: bold;
}
